@import '../../styles/variables';

.board {
  padding: 20px 32px;

  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 21px;
  }

  .taskPanel {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }
}
