@import '../../styles/variables';

.board {
  padding: 20px 32px;
  overflow: auto;
  padding-right: 60px;

  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 21px;
  }

  .taskPanel {
    display: flex;
    align-items: flex-start;
  }

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color3;
    border-radius: 28px;
  }
}
