@import '../../styles/variables';

.column {
  width: 200px;
  min-width: 274px;
  min-height: 120px;
  border: 1px solid $color4;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 26px;

  .columnHeader {
    background: $color5;
    padding: 11px 9px;
  }

  .columnBody {
    text-align: center;
    padding: 12px 9px;
  }

  .emptyColumn {
    min-height: 444px;
    text-align: center;
    padding-top: 79px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text {
    margin-top: 24px;
    font-size: 13px;
    font-weight: 600;
    color: $color6;
  }
}
