@import './variables';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background-color: $color15;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color16;
    border-radius: 28px;
  }
}

button {
  background-color: transparent;
  overflow: none;
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
