$color1: #2ea97d;
$color2: #fff;
$color3: #ccc;
$color4: #c9d2ce;
$color5: #f2faf6;
$color6: #6d7471;
$color7: #f6f2ff;
$color8: #856ec6;
$color9: #fafffc;
$color10: #ebf3ef;
$color11: #fafffc;
$color12: #ebf3ef;
$color13: #969f9b;
$color14: #414644;
$color15: #f0f0f0;
$color16: #90a4ae;

$card-box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05), inset 0px -2px 0px rgba(0, 0, 0, 0.15);
