@import '../../styles/variables';

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;

  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }

  .subTitle {
    color: $color6;
    font-size: 12px;
    font-weight: 400;
  }
}
